div#login-banner {
	text-align: center;
	width: 50%;
	margin: 10 auto;
	font-size: 300%;
	color: #4095c6 
}

div#login-box {
	text-align: center;
	width: 100%;
	margin: 10 auto;
	float: bottom;
}

div#password-box {
	text-align: center;
	width: 100%;
	margin: 10 auto;
}

div#login-button {
	text-align: center;
	margin: 10 auto;
}

div#login-error {
	text-align : center;
	margin: 10 auto;
	color: red;
}

button {
	 display:inline-block;
	 padding:0.3em 1.2em;
	 margin:0 0.3em 0.3em 0;
	 border-radius:2em;
	 box-sizing: border-box;
	 text-decoration:none;
	 font-family:'Roboto',sans-serif;
	 font-weight:300;
	 color:#FFFFFF;
	 background-color:#4eb5f1;
	 text-align:center;
	 transition: all 0.2s;
}

button:hover{
	background-color:#4095c6;
}

